@model IOTBTL.Models.Weather

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Weather</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoAm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoAm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhietDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhietDo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnhSang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnhSang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhiGas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhiGas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
