@model IEnumerable<FacultyDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-lg-12 grid-margin bg-white stretch-card">
    <div class="card">
        <div class="card-body">
            <a class="btn btn-outline-success btn-sm" style="width:200px;margin-bottom:20px;" asp-controller="Faculty" asp-action="Create">Create</a>
            
            <div class="table-responsive">
                <table id="bootstrap-data-table" class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Name</th>
                            <th>Total Major</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td>@item.FacultyId</td>
                                <td>@item.FacultyName</td>
                                <td>@item.FacultyDescription</td>
                                <td>
                                    <a class="btn btn-warning" asp-action="MajorInFaculty" asp-route-id="@item.FacultyId" asp-controller="Major"> @item.MajorCount </a>
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-controller="Faculty" asp-route-id="@item.FacultyId" class="btn btn-success btn-icon-text">Edit</a>
                                    <a asp-action="Delete" asp-controller="Faculty" asp-route-id="@item.FacultyId" class="btn btn-danger btn-icon-text">Delete</a>
                                </td>
                            </tr>
                        }
                        
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Scripts -->






@section Scripts{
    
   @*  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    
   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#bootstrap-data-table').DataTable();
        });
    </script> *@
}

