@model ChuongTrinhDaoTao.WebMVC.BussinessModel.TuitionBM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TuitionBM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TuitionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TuitionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TuitionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TuitionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TuitionDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TuitionDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TuitionTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TuitionTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TuitionTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TuitionTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TuitionId" class="btn btn-success">Edit</a>
    <a asp-action="Index" class="btn btn-danger">Back to List</a>
</div>
